/* All common css start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
body{
    background: #eeeaeaec;
}
#homepage{
    width: 1440px;
    background: #ffffff;
    margin:0 auto;
    
}
.container{
    width: 1392px;
    margin: 0 auto;
   
}
:root{
    --font-family:'Helvetica Neue', sans-serif;
    --color_white:#FFFFFF;
    --color_green:#0057FF;
    --color_black:#191919;
    --color:#696969;
  
}

.multi_btn_2{
    display: flex;
    justify-content: center;
    align-items: start;
    border: transparent;
    background: none;
    gap: 8px;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 300;
    color: var(--color_black);
}
.multi_btn_2 img{
    transform: translateY(-12px);
}
.design h4{
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 300;
    color: var(--color_black);
}

/* all common css end */


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
     position: relative;
}
.navbar::after{
  content: "";
  width: 100%;
  height: 3px;
  background: url("./image/Divider.png");
  background-repeat: no-repeat;
  background-size: covar;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
}
.left_menu{
    display: flex;
    gap: 30px;

}
.left_menu .menu{
    display: flex;
    max-width: 370px;
    justify-content: center;
    gap: 30px;
}
.left_menu .menu ul li a{
    font-family: var(--font-family);
    font-weight: 400;
    color:#191919;
    font-size: 14px;
}
.right_menu{
    display: flex;
    align-items: center;
    gap: 30px;
}
.right_menu button{
     font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    border: transparent;
    padding: 10px 20px;
    border-radius: 1000px;

}
.right_menu .btn{
   
    background:#F5F8FF ;
    border:1px ;
    color:var(--color_green)
    
}
.right_menu .btn_2{
    background: #0057FF;
    color: var(--color_white);
}

/* ============
navbar end
============ */

header{
    padding-top: 20px;
}

.main_header{
    display: flex;
     justify-content: space-between;
    height: 50px;
    align-items: center;
     padding: 10px 15px 10px 30px;
     border-radius: 1000px;
     border: 2px solid #CCCCCC;
}
.main_header .search h3{
    color: var(--color);
    position: relative;
   
}
.main_header .search h3::before{
    content: "";
    width: 16px;
    height: 16px;
    background: url("./image/Icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transform: translate(-20px, -3px);
    bottom: 0;
    left: 0;

}
.main_header .catagoris{
    display: flex;
    align-items: center;
     gap: 50px;
    
}
.catagoris button{
    background: var(--color_black);
    padding: 8px 16px;
    border-radius: 1000px;
    color: var(--color_white);
    border: transparent;
}

.main_header .catagoris h5{
    font-family: var(--font-family);
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color:var(--color_black)
}
/* header end */

.filter{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-bottom: 25px;
}
.filter_left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.filter_left .filter_btn{
    font-family: var(--font-family);
    font-size: 13px;
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 1px 5px;
   border: 1px solid #E8E8E8;
   background: var(--color_white);
}
.filter_right .filter_btn_r{
    display: flex;
    align-items: center;
    gap: 8px;
    border: transparent;
    background: none;
    font-family: var(--font-family);
    font-size: 13px;
}

header{
    position: relative;
 
}
header::after{
     content: "";
  width: 100%;
  height: 3px;
  background: url("./image/Divider.png");
  background-repeat: no-repeat;
  background-size: covar;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
}




/* ============
   Header end 
   =============*/
.design_container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
   .activity{
    display: flex;
    justify-content: space-between;
   }
.follow{
    display: flex;
    justify-content:center;
    gap:  8px;
    align-items: center;
    
}
.vic_1{
    display: flex;
}
.activity h3{
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    color: var(--color_black);
}



/* ==============
   design 1 end
   =============== */

.advertisement{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 30px;
    background: #eeeaeaec;
}
.see_all_plans h3{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: var(--color_black);
}
.see_all_plans h6{
     font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--color_black);
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 19px;
}
.see_all_plans .btn_s{
    padding: 10px 20px;
    background: var(--color_green);
    color: var(--color_white);
    border-radius: 1000px;
    border: transparent;

}
.apps{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.see_all_plans{
    max-width: 280px;
}
.description{
    max-width: 199px;
}
.description h5{
    font-family: var(--font-family);
    font-weight: 400;
   
}
.description p{
    padding-top: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--color);
}
.cloud{
    display: flex;
    justify-content: space-between;
}

/* ==============
   Advertisement end
   ================= */

   /* =============
   Design start
   ============= */
.design_post{
    display: flex;
    justify-content:space-between;
    padding-top: 30px;
   }
.activity_2{
    display: flex;
    justify-content: space-between;
    max-width: 333px;
}
.activity_2 h3{
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    color: var(--color_black);
}
.follow_2{
     display: flex;
    justify-content:center;
    gap:  8px;
    align-items: start;
}

.post_2{
    display: flex;
}
/* ===============
  design end
  ================== */

/* ==============
 footer start
 ============= */
 .footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
    border-top: 1px solid #E1E1E1;
 }
 .footer_main_btn{
    display: flex;
    gap: 30px;
 }
 .footer_left{
    display: flex;
     gap: 20px;
    align-items: center;
 }
 .footer_left p{
    font-family: var(--font-family);
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color:var(--color)
    
    
 }
 .footer_btn{
    display: flex;
    background: none;
    justify-content: center;
    padding: 5px 15px 5px 0px;
    gap: 5px;
    border:transparent;
    border-right:2px solid #E1E1E1;
    align-items: center;
 }
 .footer_text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
 }
